extends ../layouts/teacher-layout.pug

block styles
  link(rel="stylesheet", href="/css/teacher.css")
block content
  h2 App-Einstellungen
  ul
    unless settings.isSetup
      li 
        b Setup Status: 
        span Abgeschlossen
    else 
      li 
        b Setup Status: 
        span Nicht abgeschlossen
    li 
      b Super Administrator: 
      span #{settings.superAdmin}
  if settings.superAdmin == loggedUser.email
    form#appReset(method='POST' action='/teacher/reset' style="display: none;")
    button.btn.btn-danger(onclick="confirmAppReset()") App Reset
    form#appShutdown(method='POST' action='/teacher/shutdown' style="display: none;")
    button.btn.btn-danger(onclick="confirmAppShutdown()") App Beenden
  hr
  h2 WiFi Hotspot
  if canHotspot
    b Status: 
    span #{hotspotStatus}
    br
    form#appWifiOn(method='POST' action='/teacher/wifion' style="display: none;")
    button.btn.btn-secondary(onclick="confirmWifiOn()") Hotspot Aktivieren
    form#appWifiOff(method='POST' action='/teacher/wifioff' style="display: none;")
    button.btn.btn-secondary(onclick="confirmWifiOff()") Hotspot Deaktivieren
  else 
    p.badge.badge-warning Achtung
    span  WiFi/WLAN Hotspot Support nur unter MS Windows Betriebsystemen.
  hr
  h2 Benutzer
  a(href="/teacher/signup") Neuen Nutzer Anlegen
  div.row
    each user in users
      div.col-md-4
        div.fh5co-blog.animate-box
          div.blog-text
            if user.isSuperAdmin
              span.posted_on Administrator
            else
              span.posted_on Lehrkraft
            h2 #{user.name}
            h3 #{user.email}
            if user.canLogIn
              small <b>Freigeschaltet</b> Ja
            else 
              small <b>Freigeschaltet</b> Nein
            ul.stuff
              li 
                a(href=`/teacher/user-edit/${user.id}`) Bearbeiten
                  
  
 





