extends ../layouts/teacher-layout.pug

block styles
  link(rel="stylesheet", href="/css/teacher.css")
block content
  h2 App-Einstellungen
  ul
    unless settings.isSetup
      li 
        b Setup Status: 
        span Abgeschlossen
    else 
      li 
        b Setup Status: 
        span Nicht abgeschlossen
    li 
      b Super Administrator: 
      span #{settings.superAdmin}
  if settings.superAdmin == loggedUser.email
    form(method='POST' action='/teacher/reset')
      button.btn.btn-danger(type='submit') App Reset
  hr
  h2 Benutzer
  a(href="/teacher/signup") Neuen Nutzer Anlegen
  ul Registrierte Benutzer
    each user in users
      li #{user.name}
        div 
          strong e-Mail: 
          span #{user.email}
        div 
          strong Administrator: 
          span #{user.isSuperAdmin}
        div 
          strong Freigeschaltet:  
          span #{user.canLogIn}
        div 
          a(href=`/teacher/user-edit/${user.id}`) 
            button Bearbeiten



