extends ../layouts/teacher-layout.pug

block styles
  link(rel="stylesheet", href="/css/teacher.css")
block content
  div.card
  if user.id == loggedUser.id
    div.card-header Eigenes Profil bearbeiten
  else  
    div.card-header Benutzer bearbeiten: #{user.name}  
  div.card-body
  if user.id == loggedUser.id || loggedUser.isSuperAdmin
    form(method='POST' action=`/teacher/user-edit/${user.id}`)
      div.form-group
        label(for='name') Name
        input.form-control(type='text' id='name' placeholder='Ihr Name' name='name' required value=`${user.name}`) 
      div.form-group
        label(for='mail') E-Mail
        input.form-control(type='text' id='mail' placeholder='jemand@example.tld' name='mail' required value=`${user.email}`) 
      div.form-group
      - let superAdmin = (settings.superAdmin == loggedUser.email) && user.isSuperAdmin 
        label(for='canLogIn') Freigeschaltet: 
          input.form-controm(type='checkbox' id='canLogIn' name='canLogIn' value='true' disabled=superAdmin checked=user.canLogIn )
      div.form-group
        label(for='isSuperAdmin') Ist Administrator: 
          input.form-controm(type='checkbox' id='isSuperAdmin' name='isSuperAdmin' value='true' disabled=superAdmin checked=user.isSuperAdmin)
      div.form-group
        label(for='password') Neues Passwort
        input.form-control(type='password' id='password' placeholder='Passwort' name='password') 
      div.form-group
        label(for='passwordConfirm') Neues Passwort bestätigen
        input.form-control(type='password' id='passwordConfirm' placeholder='Passwort' name='passwordConfirm')
      button.btn.btn-primary(type='submit') Speichern
  else
    p Sie sind nicht berechtigt diese Resource anzuzeigen!
     
