extends ../../layouts/teacher-layout.pug

block styles
    link(rel="stylesheet", href="/css/teacher.css")
block content
    h1 Lehreinheiten
    ul.nav.nav-pills.nav-fill
      li.nav-item
        a.nav-link.active(href="#") Alle Lehreinheiten
      li.nav-item
        a.nav-link(href="/teacher/sessions/brainstorming/new") Neue Brainstorm Lehreinheit anlegen
      li.nav-item
        a.nav-link(href="/teacher/sessions/quizzing/new") Neue Quiz Lehreinheit anlegen
    hr
    if sessions.length == 0
      p Noch keine Lehreinheiten vorhanden
    else 
      div.row
        each session in sessions
          div.col-md-4
            div.fh5co-blog.animate-box
              div.blog-text
                span.posted_on 2019-01-01
                h2 #{session.name}
                h3 #{session.type}
                p #{session.lecture.topic}
                if loggedUser.isSuperAdmin
                  small <b>Besitzer:</b>  #{session.owner.name}
                ul.stuff
                  li 
                    a(href=`/teacher/sessions/${session.type}-edit/${session.id}`) Bearbeiten
                  if loggedUser.id == session.userId
                    li 
                      form#startSession(method="POST" action=`/teacher/sessions/start/${session.id}`)
                        button.btn-primary.btn-sm(type="SUBMIT") Starten &#9658;
                  else
                    li
                      button.btn-primary.btn-sm(type="button" 
                      onclick="Swal.fire(`Kann nur vom Besitzer gestartet werden.`)"
                      ) Starten &#9658;
                      
                  
                    
        
        
    
            
              


